@charset "utf-8";
/* CSS Document Servicios virtuales CCB y CAC */
/*Fuente TradeGothic*/

.TradeGothicLTPro-LightObl {
    font-family: TradeGothicLTPro-LightObl;
    font-weight: normal;
    font-style: normal;
}
.TradeGothic-normal-italic {
    font-family: TradeGothic;
    font-weight: normal;
    font-style: italic;
}
.TradeGothic-bold-italic {
    font-family: TradeGothic;
    font-weight: bold;
    font-style: italic;
}
.TradeGothic-normal-normal {
    font-family: TradeGothic;
    font-weight: normal;
    font-style: normal;
}
.TradeGothicLTPro-Light {
    font-family: TradeGothicLTPro-Light;
    font-weight: normal;
    font-style: normal;
}
.TradeGothic-bold-normal {
    font-family: TradeGothic;
    font-weight: bold;
    font-style: normal;
}
/*Estilos generales marco de presentación*/

a {
    color: #666;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
body {
    font-family: TradeGothicLTPro-Light, Open Sans, sans-serif;
    font-size: 16px;
    color: #1d1d26;
}
.plantilla-container {
    width: 100%;
    margin: 0px auto;
    padding: 0px;
}
.espacio15 {
    font-size: 15px;
    height: 15px;
    clear: both
}
.espacio20 {
    font-size: 20px;
    height: 20px;
    clear: both
}
.container-logo {
    float: left;
    width: 220px;
}
.container-logo-cac {
    float: left;
    width: 420px;
}
.titulo-cabezote {
    border-left: 1px solid #000;
    float: left;
    font-size: 30px;
    margin: 0 0 0 10px;
    padding: 10px 20px;
    color: #a9aaaa;
}

.titulo-salir {	
    float: right;
    font-size: 15px;
    margin: 0 0 0 10px;    
    color: #666;
}

.titulo-sesion {
    border-left: 1px solid #000;
    float: right;
    font-size: 15px;
    margin: 0 0 0 10px;
    padding: 10px 20px;
    color: #666;
}

.titulo-cabezote-cac {
    border-left: 1px solid #000;
    float: left;
    font-size: 30px;
    margin: 0 0 0 10px;
    padding: 18px 20px;
    color: #a9aaaa;
}
.salto {
    clear: both;
}
.titulo-servicio {
    background: #00A776;
    color: #fff;
    font-size: 25px;
    line-height: 2;
    text-align: center;
    font-weight: normal;
    margin: 10px 0 10px 0;
    padding: 0;
}


.titulo-opcion {
    background: #00A776;
    color: #fff;
    font-size: 20px;
    line-height: 2;
    text-align: center;
    font-weight: normal;
    margin: 0px 0 10px 0;
    padding: 0;
}


p {
    font-size: 16px;
    color: #3F3B3C;
}
hr {
    border: 0;
    height: 1px;
    background-color: #d5d4d4;
    display: block;
}
.container-contacto {
    float: left;
    margin-right: 16px;
}
.titulo-contacto {
    font-size: 16px;
    color: #222222;
    font-weight: bold;
}
.container-contacto-linea {
    float: left;
    border-left: 1px solid #d4d3d3;
}
.container-contacto-atencion {
    margin-left: 16px;
}
.texto-contacto {
    font-size: 14px;
    color: #545152;
}
.texto-contacto a {
    text-decoration: none;
    margin-right: 8px;
    color: #545152;
    font-weight: bold;
    font-size: 14px;
}
.texto-llamada {
    margin-left: 8px;
    color: #545152;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}
.texto-llamada a {
    font-size: 14px;
    margin-left: 4px;
    color: #545152;
    text-decoration: none;
    font-weight: bold;
}
.container-creditos {
    background-color: #153629;
    padding: 10px;
}
.container-creditos-texto {
    margin: 0 auto;
    padding: 15px;
    text-align: center;
}
.container-creditos-texto a {
    font-size: 12px;
    color: #949293;
    text-decoration: none;
    margin-right: 8px;
}
.copy {
    font-size: 11px;
    color: #949293;
    margin-left: 16px;
    text-decoration: none;
}
.container-servicios {
    padding: 15px;
}
.link-cree a {
    font-size: 16px;
    color: #D01648;
    text-decoration: none;
}
.linea-servicios {
    font-size: 12px;
    font-weight: bold;
    color: #333031;
    margin-left: 5px;
    margin-right: 5px;
}
.link-fortalezca a {
    font-size: 16px;
    color: #1D9DA3;
    text-decoration: none;
}
.link-inscripciones a {
    font-size: 16px;
    color: #9F9A21;
    text-decoration: none;
}
.link-servicios-cac {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}
.link-servicios-arbitraje a {
    font-size: 16px;
    color: #ce1c4a;
    text-decoration: none;
}
.link-servicios-conciliacion a {
    font-size: 16px;
    color: #279ca2;
    text-decoration: none;
}
.link-servicios-insolvencia a {
    font-size: 16px;
    color: #f2b23b;
    text-decoration: none;
}
/*Estilos componentes servicios virtuales*/

.tit-internos {
    background: #00A776;
    color: #fff;
    font-size: 28px;
    line-height: 2;
    padding-left: 16px;
}
.tit-internos p {
    color: #ffffff;
    font-size: 28px;
    vertical-align: central;
    padding: 10px;
    line-height: 28px;
}
.txt-fecha {
    color: #666666;
}
.miga {
    color: #333333;
    font-size: 14px;
    text-decoration: none;
}
.miga a {
    color: #00A776;
    font-size: 14px;
    text-decoration: none;
}
.miga a:hover {
    color: #CFF3E3;
}
.links-generales {
    color: #00A776;
    font-size: 16px;
}
.links-generales a {
    color: #00A776;
    text-decoration: underline;
    font-size: 16px;
}
.links-generales a:hover {
    color: #CFF3E3;
    text-decoration: underline;
}
.tit-general {
    color: #00A776;
    font-size: 28px;
}
.subt-general {
    color: #000000;
    font-size: 24px;
    font-weight: bold;
}
.txt-general {
    color: #1d1d26;
    font-size: 16px;
}
.subt-txt-general {
    color: #1d1d26;
    font-size: 16px;
    font-weight: bold;
}
.campos {
    background: #f6f6f6;
    border-radius: 0;
    height: 44px;
    line-height: 2rem;
    font-size: 1em;
    outline: none;
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
    font-family: TradeGothicLTPro-Light, Open Sans, sans-serif;
    border: 1px solid #ccc;
    display: block;
    width: 100%;
    padding: 6px 12px;
    color: #555555;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.campos:hover {
    border: 1px solid #CFF3E3;
    background-color: #ffffff;
}
.listas {
    background: #f6f6f6;
    border-radius: 0;
    height: 44px;
    line-height: 2rem;
    font-size: 1em;
    outline: none;
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
    font-family: TradeGothicLTPro-Light, Open Sans, sans-serif;
}
.listas:hover {
    border: 1px solid #CFF3E3;
    background-color: #f1f1f1;
}
.txt-descripcion {
    color: #ee4b3c;
    font-size: 16px;
}
.txt-lista {
    padding: 10px;
    font-size: 16px;
    color: #1d1d26;
    margin-top: 35px;
    border-left: 1px solid #ccc;
    padding-left: 25px;
}
.boton {
    display: inline-block;
    background: #fff;
    color: #033864;
    border: 1px solid #033864;
    line-height: 1;
    padding: 1rem 2rem;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    border-radius: 0.3em;
    outline: none;
    cursor: pointer;
}
.boton:hover {
    color: #FFF;
    background-color: #033864;
}
.rotulo {
    border-top: 1px solid #d5d4d4;
    border-bottom: 1px solid #d5d4d4;
    border-right: 1px solid #d5d4d4;
    display: block;
    border-left: 5px solid #033864;
    padding: 25px 15px;
    margin-bottom: 2rem;
}
.rotulo-texto {
    line-height: 1.2;
    color: #000;
    font-weight: bold;
    font-size: 1.4em;
}
/*Tablas*/

.tablas-sv {
    width: 100%;
    border: 1px solid #ccc;
    border-spacing: 0;
}
.tablas-sv a,
tablas-sv,
tbody,
tfoot,
tr,
th,
td {
    font-family: TradeGothicLTPro-Light, Open Sans, sans-serif;
}
.tablas-sv_caption {
    font-size: 17px;
    text-align: center;
    background-color: #fff;
    color: #000000;
    padding: 8px;
    font-weight: bold
}
.tablas-sv_th {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    margin: 20px 0 0;
    text-align: center;
    border-bottom: 1px solid #ccc;
    background-color: #eee
}
.tablas-sv_td {
    background: #fff;
    font-size: 16px;
    color: #000;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    text-decoration: none
}
.tablas-sv_td a {
    font-size: 16px;
    color: #18649F;
    text-decoration: none
}
.tablas-sv_td a:hover {
    font-size: 16px;
    color: #18649F;
    text-decoration: underline
}
.tablas-sv_td:hover {
    background: #f9f9f9;
    color: #333
}
.tablas-sv_td2 {
    font-size: 16px;
    color: #000;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    background-color: #fafafa
}
.tablas-sv_td2 a {
    font-size: 16px;
    color: #033864;
    text-decoration: underline;
}
.tablas-sv_td2 a:hover {
    font-size: 16px;
    color: #033864;
    text-decoration: none;
}
.tablas-sv_td2:hover {
    background: #ececec;
    color: #333
}
.tablas-sv_footer {
    background: #fff;
    font-size: 16px;
    color: #333;
    font-weight: bold
}
/*Listas Certicamara*/

.listasFecha select {
    background: #f6f6f6;
    border-radius: 0;
    height: 44px;
    line-height: 2rem;
    font-size: 1em;
    outline: none;
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
    font-family: TradeGothicLTPro-Light, Open Sans, sans-serif;
}
.listasFecha select:hover {
    border: 1px solid #1864A1;
    background-color: #f1f1f1;
}

.ui-selectonemenu-panel .ui-selectonemenu-filter-container .ui-icon {
    position: absolute !important;
    top: 15px !important;
    right: 40px !important;
}

.ui-selectonemenu-panel .ui-selectonemenu-filter-container{
	width: 100%;
}

.ui-icon.fa {
     text-indent:0px;
     background-image:none;
}

.centerElement {
    margin: auto;
    padding: 10px;
}

.centerChilds {
	text-align: center;
}

body {
	font-size: 10pt !important;
    font-family: Open sans !important;
 }
 

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	font-size: 10pt !important;
    font-family: Open sans !important;
}

.ui-selectonemenu-panel .ui-selectonemenu-list-item{	
	font-size: 10pt !important;
}

.ui-widget .ui-widget {
    font-size: 10pt !important;
}

.ui-growl-message p{
   color: #FFFFFF	
}

.ui-breadcrumb ul li .ui-menuitem-link.ui-home {
    background: none !important;
    border: none !important;
    background-image: none !important;
}


.ui-panelgrid .ui-panelgrid-cell{
	padding: 4px 10px 10px 0px !important;
}

.ui-panelgrid-content .ui-widget-content .ui-grid .ui-grid-responsive{
	border:0 !important;
}

.ui-panelgrid-content .ui-widget-content .ui-grid {
	border:0 !important;
}

.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield{
	background: #f8f8f8 !important;
}

.ui-state-hover{
	background-position: 0 -10px !important;
}


.ui-fluid .ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield{
	max-width: 100% !important;
}

.contentGrid .ui-panelgrid-content{
    border: none !important	
}

.searchButton{
	padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.ui-button-text-only {
	background: #153629 !important;
}

/* Temas para los dialogos*/
.ui-dialog-titlebar {
	background: #033864 !important;
}

.ui-dialog-title {
	font-size: 14px !important;
	color: #ffffff;
}

.ui-dialog-titlebar-close span {
	color: #ffffff;
	background-image: url("/SimascWeb/faces/javax.faces.resource/images/ui-icons_ffffff_256x240.png?ln=primefaces-bootstrap") !important; 
	
}


/*
.ui-icon {
	/*background: url("/SimascWeb/faces/javax.faces.resource/images/ui-icons_ffffff_256x240.png?ln=primefaces-bootstrap") !important;*/
	/*background-image: url("/SimascWeb/faces/javax.faces.resource/images/ui-icons_ffffff_256x240.png?ln=primefaces-bootstrap") !important;; 
}*/

